{
    "log-rotate": {
        // logging time limit until file gets rotated (unit: Hour)
        "timeLimit": 24,
        // log file size limit until file gets rotated (unit: KB)
        "sizeLimit": 100
    },
    "token": "paste_your_token_here",
    "inviteLink": "paste-your-bot-link-here",
    "locale": "en-US",
    "status": "",
    "awayTime": 10,
    "ttsGender": "female",
    "ttsMaxLength": 100,
    "ttsProvider": "GcpTts",
    "GcpTtsPreferredType": "Standard",
    "GcpTtsPreferredCode": "H"
}
