{
    "token": "paste_your_bot_token_here",
    "inviteLink": "paste_your_bot_invite_link_here",
    "defaultLocale": "en",
    "defaultSpeechProvider": "GoogleCloudTTS",
    "useNeuralSpeech": true,
    "status": "purrr..."
}
