{
    "token": "paste_your_token_here",
    "inviteLink": "paste-your-bot-link-here",
    "locale": "en-US",
    "status": "purrr...",
    "ttsGender": "female",
    "ttsMaxLength": "500",
    "ttsProvider": "GcpTtsWaveNet"
}
