{
    "token": "paste_your_token_here",
    "inviteLink": "paste-your-bot-link-here",
    "locale": "en-US",
    "status": "",
    "ttsGender": "female",
    "ttsMaxLength": "100",
    "ttsProvider": "GcpTts",
    "GcpTtsPreferredType": "Standard",
    "GcpTtsPreferredCode": "H"
}
